.stepsBlock {
  padding: 56px 16px;
  display: grid;
  gap: 32px;

  @media screen and (min-width: 768px){
    padding: 56px 20px;
  }

  @media screen and (min-width: 1920px){
    margin: 0 auto;
    max-width: 1216px;
    gap: 61px;
  }

  .title {
    color: #191C1F;

    @media screen and (min-width: 768px){
      font-size: 40px;
    }
  }

  .steps {
    @media screen and (min-width: 768px){
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 32px;
    }

    @media screen and (min-width: 1920px){
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}