.logo {
  z-index: 10;
  display: flex;
  position: relative;

  .icon {
    .ellipseBlue {
      position: absolute;
      left: 0;
    }

    .ellipseWhite {
      position: absolute;
      left: 14px;
    }
  }

  .title {
    color: #FFFFFF;
    font-weight: 600;
    margin-left: 45px;
  }

  .blackTitle{
    color: #191C1F;
    font-weight: 600;
    margin-left: 45px;
  }
}