.item {
  cursor: pointer;
  padding: 16px 0;
  border-bottom: 1px solid #ECEFF2;

  @media screen and (min-width: 1920px){
    padding: 24px 0;
  }

  .questionContainer {
    display: grid;
    grid-template-columns: 1fr 24px;
    column-gap: 20px;

    .text {
      font-weight: 600;
      text-align: start;

      &:hover {
        color: #2A6CEA;
      }
    }
  }

  .answer {
    font-size: 16px;
    line-height: 28px;
    color: #5E646A;
    text-align: start;
    margin-top: 16px;
  }
}